.app {
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
  margin-top: 12vh;
}

.rescue {
  padding: 2em;
  margin: 2em;
  border: 2px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}
